go 1.25.0

use (
	./manta-labs/combat-catalog
	./manta-labs/entity-samples
	./manta-labs/creeps
	./manta-labs/entity
	./manta-labs/lasthits-debug
	./manta-labs/pt
	./manta-labs/stringtables
	./parser
)
