@import "tailwindcss";

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
