var spawnLaneCentroids = map[string]map[string]xy{
	"good": {
		"top": {-6720.7, -4100.7},
		"mid": {-5121.4, -4609.1},
		"bot": {-3834.3, -6217.5},
	},
	"bad": {
		"top": {3070.9, 5634.1},
		"mid": {4001.4, 3495.1},
		"bot": {6143.8, 3567.4},
	},
}
